.App {
    font-family: sans-serif;
  }
  
  .book {
    border: 1px solid red;
    background-color: lightcoral;
    padding: 4px;
    margin-bottom: 2px;
    width: 200px;
  }
  
  input {
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid red;
    padding: 5px;
    border-radius: 4px;
    width: 150px;
  }
  